@model TypsyPortal.Models.Profile

@{
    ViewData["Title"] = "Create a profile";
}

<h1>Create a profile</h1>

<h4>Profile</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Firstname" class="control-label"></label>
                <input asp-for="Firstname" class="form-control" id="first_name" />
                <span asp-validation-for="Firstname" class="text-danger" id="spn_first_name"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lastname" class="control-label"></label>
                <input asp-for="Lastname" class="form-control" id="last_name" />
                <span asp-validation-for="Lastname" class="text-danger" id="spn_last_name"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" type="email" id="email" onblur="CheckEmail('')"/>
                <span asp-validation-for="Email" class="text-danger" id="spn_email"></span>
            </div>
            <div class="form-group">
                <label asp-for="Birthday" class="control-label"></label>
                <input asp-for="Birthday" class="form-control" type="date" />
                <span asp-validation-for="Birthday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Referral" class="control-label"></label>
                <select asp-for="Referral"  asp-items="Html.GetEnumSelectList<Profile.ReferralType>()"  class="form-control" id="select_referral"></select>
                <span asp-validation-for="Referral" class="text-danger"></span>
            </div>
            <div class="form-group" id="form_group_referral_reason">
                <label asp-for="ReferralReason" class="control-label"></label>
                <input asp-for="ReferralReason" class="form-control" id="referral_reason" type="text" />
                <span asp-validation-for="ReferralReason" class="text-danger" id="spn_referral_reason"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                <input asp-for="Country" class="form-control" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <select asp-for="Gender" asp-items="Html.GetEnumSelectList<Profile.GenderType>()" class="form-control"></select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
