@model IEnumerable<TypsyPortal.Models.Profile>

@{ ViewData["Title"] = "Profiles"; }

<h1>Profiles</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<!-- Start Profile search -->
<form asp-controller="Profile" asp-action="Index" method="post">
    <p>
        Last Name: <input type="text" name="SearchString" />
        <input type="submit" value="Search" />
    </p>
</form>
<!-- End Profile search -->
<!-- Start Profile list -->
<div class="card-columns">
    @foreach (var item in Model)
    {
<div class="card">
    <div class="card-body">
        <h6 class="card-title">
            @Html.DisplayNameFor(model => model.Firstname)
        </h6>
        <p class="card-text">@Html.DisplayFor(modelItem => item.Firstname)</p>

        <h6 class="card-title">
            @Html.DisplayNameFor(model => model.Lastname)
        </h6>
        <p class="card-text">@Html.DisplayFor(modelItem => item.Lastname)</p>

        <h6 class="card-title">
            @Html.DisplayNameFor(model => model.Birthday)
        </h6>
        <p class="card-text">@Html.DisplayFor(modelItem => item.Birthday)</p>

        <h6 class="card-title">
            @Html.DisplayNameFor(model => model.Email)
        </h6>
        <p class="card-text">@Html.DisplayFor(modelItem => item.Email)</p>

        @*<h6 class="card-title">
            @Html.DisplayNameFor(model => model.Phone)
        </h6>
        <p class="card-text">@Html.DisplayFor(modelItem => item.Phone)</p>

        <h6 class="card-title">
            @Html.DisplayNameFor(model => model.Gender)
        </h6>
        <p class="card-text">@Html.DisplayFor(modelItem => item.Gender)</p>

        <h6 class="card-title">
            @Html.DisplayNameFor(model => model.Country)
        </h6>
        <p class="card-text">@Html.DisplayFor(modelItem => item.Country)</p>

        <h6 class="card-title">
            @Html.DisplayNameFor(model => model.Referral)
        </h6>
        <p class="card-text">@Html.DisplayFor(modelItem => item.Referral)</p>

        <h6 class="card-title">
            @Html.DisplayNameFor(model => model.ReferralReason)
        </h6>
        <p class="card-text">@Html.DisplayFor(modelItem => item.ReferralReason)</p>*@

        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Details</a>
        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
    </div>
</div>}
</div>
<!-- End Profile list -->
